#app {
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--neutral70);
  scroll-behavior: smooth;
}




.bnb {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 56px;
  /* padding: 0 16px; */
  background: var(--neutral1);
  -webkit-box-shadow: 0px -2px 3px rgba(175, 175, 175, 0.75);
  -moz-box-shadow: 0px -2px 3px rgba(175, 175, 175, 0.75);
  box-shadow: 0px -2px 3px rgba(175, 175, 175, 0.75);
}

.content {
  position: relative;
  padding: 67px 0 77px 0;
}

.bnb-menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}

.bnb a {
  width: calc(100vw / 4);
  text-decoration: none;
  color: var(--navy3) !important;
}
.bnb a:hover {
  color: var(--navy) !important;
}

.label-bnb {
  font-size: 10px;
  margin: 0;
}



#login {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, var(--navy9), var(--navy));
}

.summary {
  background: var(--neutral1);
  width: 100vw;
  position: absolute;
  bottom: 0;
  padding-bottom: 56px;
}

.search-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 57px;
}

.breadcrumb {
  font-size: 14px;
}
.breadcrumb .breadcrumb-item {
  font-weight: 600;
}
.breadcrumb .breadcrumb-item.active {
  font-weight: normal;
}

[data-bs-toggle="collapse"][aria-expanded="false"] .fa-chevron-right {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
[data-bs-toggle="collapse"][aria-expanded="true"] .fa-chevron-right {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}

.img-product {
  width: 200px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.placeholder_banner {
  height: 100px;
}

.multiselect input[type="text"] {
  background: transparent !important;
  margin: 0;
  height: auto;
  border: none;
  box-shadow: none;
}

.multiselect-tags input[type="text"] {
  padding: 0 !important;
  background: transparent !important;
  margin: 0;
  height: auto;
  border: none;
  box-shadow: none;
}

.multiselect input[type="text"]:focus {
  background: transparent !important;
  margin: 0;
  height: auto;
  border: none;
  box-shadow: none;
}

.multiselect {
  border-radius: 3px !important;
  min-height: 40px;
  background: var(--neutral1) !important;
  border: 1px solid var(--neutral4) !important;
}

.multiselect-option.is-selected {
  background-color: var(--navy8) !important;
  color: var(--neutral0) !important;
}

.multiselect-option.is-selected p {
  color: var(--neutral0);
}

.multiselect-tag {
  background-color: var(--navy8) !important;
}

.multiselect-dropdown {
  border-radius: 5px !important;
}

.multiselect-placeholder {
  color: var(--neutral6) !important;
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: var(--neutral6) !important;
}

:-ms-input-placeholder {
  color: var(--neutral6) !important;
}

::placeholder {
  color: var(--neutral6) !important;
}

/* HEHE */

body {
  width: 100%;
  max-width: 100%;
  will-change: position;
}

body.modal-open {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal {
  will-change: display;
}

.modal-dialog {
  will-change: transform;
}

.modal-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* NAV BAR */
.start-header {
  background: rgba(255, 255, 255, 1) !important;
  height: 56px;
  transform: translateY(0);
  z-index: 1000 !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  box-shadow: 0 3px 3px 0 rgba(138, 155, 165, 0.3);
}

.start-header.hidden {
  background: transparent !important;
  height: 56px;
  transform: translateY(0);
  z-index: 1 !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  box-shadow: none;
}

.start-header.scroll-on {
  background: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 3px 3px 0 rgba(138, 155, 165, 0.3);
}

.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navbar-brand img {
  height: 38px;
  width: auto;
  display: block;

  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navbar-brand-admin img {
  height: 30px;
  width: 144px;
  display: block;
  object-fit: contain;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navbar-toggler {
  border: none;
  margin: 0 !important;
  padding: 0 !important;
}

.nav-link {
  color: var(--neutral60) !important;
  font-weight: normal;
  transition: all 200ms linear;
  position: relative;
  display: inline-block;
}

.nav-item:hover .nav-link {
  color: var(--pink3) !important;
  text-decoration: none;
}

.nav-item.active .nav-link {
  color: var(--pink3) !important;
}

.nav-item:after {
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: var(--pink3);
  opacity: 0;
  transition: all 200ms linear;
}

.nav-item:hover:after {
  bottom: -8px;
  opacity: 1;
}

.nav-item.profile:hover::after {
  opacity: 0;
}

.nav-item.active:hover:after {
  opacity: 0;
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
}

.dropdown.header .dropdown-menu,
.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
  width: max-content;
}

.dropdown.header:hover .dropdown-menu,
.nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
  padding: 0 !important;
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--neutral) !important;
  background: var(--white);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
  transition: all 200ms linear;
  left: auto;
  right: 0;
  width: fit-content;
}

#dropdown-date {
  padding: 0 !important;
  border-radius: 5px;
}

.dropdown-menu.profile {
  width: 20vw !important;
}

.dropdown-toggle.no-icon::after {
  display: none;
}

.dropdown-toggle.border-dropdown {
  display: block;
  box-shadow: none !important;
  background-color: transparent;
  height: 52px !important;
  border: 1px solid var(--neutral3) !important;
  border-radius: 30px !important;
  font-size: 16px;
  line-height: 20px;

  padding: 16px 32px;
}

.dropdown-toggle.border-dropdown::after {
  content: none;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin: -0.3em 0 0 0.4em;
  vertical-align: middle;
  content: "";
  border: 0.3em solid;
  border-width: 0 0.15em 0.15em 0;
  transform: rotateZ(45deg);
}

.dropdown-item {
  padding: 8px 16px;
  color: var(--neutral);
  font-size: 14px;
  border-radius: 3px !important;
  transition: all 200ms linear;
}

.dropdown-item.active {
  background: var(--pink3);
  color: var(--neutral0) !important;
}

.dropdown-item.active:hover {
  background: var(--navy9) !important;
  color: var(--neutral0) !important;
  /* font-size: 14px; */
}

.dropdown-item img {
  width: 30px;
  padding-right: 10px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--purple7);
  background-color: var(--neutral3);
}

.dropdown-item.dropdown-sign-out {
  border-top: 1px solid #00000030;
}

/* END NAV BAR */

/* FOOTER */
#footer {
  max-width: 100vw;
  padding: 100px 0;
  background-color: var(--navy);
}

#footer img {
  height: 50px;
}

#footer a,
#footer p {
  display: block;
  color: white;
}

#footer a:hover {
  color: var(--pink3);
}

#footer .social-media {
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

#footer .social-media:hover {
  border: 1px solid var(--pink3);
}

/* END FOOTER */

.separator {
  height: 24px;
  width: 1px;
  background: var(--neutral-light-n-50, #c1c7d0);
}

.sidebar-toggler {
  display: none;
  float: right;
  cursor: pointer;
  width: 24px;
  height: 20px;
  background-image: none;
  position: relative;
  border-bottom: 4px solid var(--navy9);
  transition: all 300ms linear;
}

.sidebar-toggler::before,
.sidebar-toggler::after {
  width: 24px;
  position: absolute;
  height: 4px;
  background-color: var(--navy9);
  top: 0;
  left: 0;
  content: "";
  z-index: 1;
  transition: transform 300ms linear;
}

.sidebar-toggler::after {
  top: 8px;
  height: 4px;
}

.sidebar-open {
  border-color: transparent;
}

.sidebar-open::after {
  transform: rotate(45deg);
}

.sidebar-open::before {
  transform: translateY(8px) rotate(-45deg);
}

/* END SIDEBAR */

.content-main {
  margin-left: 15%;
  padding-top: 86px;
  padding-bottom: 56px;
  transition: all 0.2s ease;
}

.content-main-dashboard {
  margin-left: 15%;
  padding-top: 56px;
  padding-bottom: 56px;
  transition: all 0.2s ease;
}

:root {
  --barlow-family: "Barlow", sans-serif;
  --righteous-family: "Righteous", sans-serif;

  --orange05: #fdf2e1;
  --orange1: #fadfb3;
  --orange2: #f6ca83;
  --orange3: #f3b452;
  --orange4: #f1a530;
  --orange5: #ef9618;
  --orange6: #eb8915;
  --orange7: #e57c12;
  --orange8: #de6d0f;
  --orange9: #d4550c;

  --purple05: #f3e5f1;
  --purple1: #e3bedc;
  --purple2: #d193c6;
  --purple3: #bd68b0;
  --purple4: #ae499f;
  --purple5: #9e2d90;
  --purple6: #92288a;
  --purple7: #812282;
  --purple8: #731d7a;
  --purple9: #57156a;

  --pink05: #f8e5f3;
  --pink1: #efbfe2;
  --pink2: #e995cf;
  --pink3: #e66bbb;
  --pink4: #e54aa9;
  --pink5: #e82796;
  --pink6: #d5278f;
  --pink7: #be2686;
  --pink8: #a7257e;
  --pink9: #7f2270;

  --neutral: #0a0a0a;
  --neutral0: #ffffff;
  --neutral1: #fafbfc;
  --neutral2: #f4f5f7;
  --neutral3: #ebecf0;
  --neutral4: #dfe1e6;
  --neutral5: #c1c7d0;
  --neutral6: #b3bac5;
  --neutral7: #a5adba;
  --neutral8: #97a0af;
  --neutral9: #8993a4;
  --neutral10: #7a869a;
  --neutral20: #6b778c;
  --neutral30: #5e6c84;
  --neutral40: #505f79;
  --neutral50: #42526e;
  --neutral60: #354764;
  --neutral70: #243757;
  --neutral80: #16294c;
  --neutral90: #091e42;

  --navy: #241d52;
  --navy05: #eaebf4;
  --navy1: #c9cce4;
  --navy2: #a7abd2;
  --navy3: #6d70b2;
  --navy4: #6d70b2;
  --navy5: #5657a5;
  --navy6: #504f9b;
  --navy7: #47458f;
  --navy8: #3f3b83;
  --navy9: #332a6c;

  --white: #ffffff;
  --red: #d40c0c;
  --red1: #bf2600;
  --red4: #ffebe6;
  --red5: #ffbdad;
  --red6: #ff8f73;
  --red7: #ff7452;
  --red8: #ff5630;
  --red9: #de350b;
  --red10: #bf2600;
  --wa-color: #00b628;

  --green05: #e3fcef;
  --green075: #abf5d1;
  --green1: #79f2c0;
  --green2: #57d9a3;
  --green3: #36b37e;
  --green4: #00875a;
  --green5: #006644;
}

.sub {
  font-size: 12px;
}

p {
  color: var(--neutral);
  font-size: 14px;
}

.pink {
  color: var(--pink4);
}

h1 {
  font-family: var(--barlow-family);
  font-weight: bold;
  font-size: 64px;
  color: var(--navy9);
}

h2 {
  font-family: var(--barlow-family);
  font-weight: bold;
  font-size: 56px;
  color: var(--navy9);
}

h3 {
  font-family: var(--barlow-family);
  font-weight: bold;
  color: var(--navy9);
  font-size: 48px;
}

h4 {
  font-family: var(--barlow-family);
  font-weight: bold;
  color: var(--navy9);
  font-size: 36px;
}

.h-32 {
  font-size: 32px;
  color: var(--navy9);
}

.h-34 {
  font-size: 34px;
  color: var(--navy9);
}

.h-28 {
  font-size: 28px;
  color: var(--navy9);
}

.h-24 {
  font-family: var(--barlow-family);
  font-weight: 500;
  color: var(--navy9);
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

h5 {
  font-family: var(--barlow-family);
  font-weight: 500;
  color: var(--navy9);
  font-size: 24px;
}

h6 {
  font-family: var(--barlow-family);
  font-weight: 500;
  color: var(--navy9);
  font-size: 18px;
}

.h-16 {
  font-size: 16px;
}

.sub-text {
  color: var(--neutral9);
}

.sub-text.active {
  color: var(--pink3);
}

.sub.sub-text a {
  font-size: 12px;
}

.f-10 {
  font-size: 10px;
}

.f-12 {
  font-size: 12px;
}

.righteous {
  font-family: var(--righteous-family);
}

.no-wrap {
  white-space: nowrap !important;
}

.route-title {
  position: relative;
  padding: 0 16px;
  margin: 0 16px;
  border-left: 1px solid var(--neutral5);
  border-right: 1px solid var(--neutral5);
  height: 100%;
}

.route-title::before {
  position: absolute;
  bottom: -16px;
  left: 0%;
  width: 100%;
  height: 2.5px;
  content: "";
  border-radius: 10px 10px 0 0;
  background-color: var(--pink3);
  transition: all 200ms linear;
}

img {
  max-width: 100%;
}

.catalog {
  height: 175px;
  width: 300px;
}

.catalog-wrapper {
  height: calc(100vh - 156px);
  width: 75%;
}

.breadcrumb {
  font-size: 14px;
}

.inline-edit {
  padding: 8px;
  border-radius: 3px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.inline-edit:hover {
  background: var(--neutral2);
}

.stats {
  background: var(--neutral2);
  padding: 6px 12px;
  border-radius: 3px;
  color: var(--navy) !important;
  text-decoration: none !important;
  font-size: 14px;
}

.stats.navy3-text {
  color: var(--navy3) !important;
}

.stats a {
  text-decoration: none !important;
}

.stats.disable a,
.stats.disable {
  cursor: not-allowed;
  color: var(--neutral9) !important;
  background: var(--neutral3) !important;
}

.lazonge {
  background: var(--neutral3);
  color: var(--neutral9);
  padding: 2px 4px;
  border-radius: 3px;
  width: fit-content;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.lazonge.primary {
  background: var(--pink05);
  color: var(--pink3);
}

.lazonge.success {
  background: var(--green05);
  color: var(--green5);
}

.lazonge.new {
  background: var(--navy1);
  color: var(--navy8);
}

.lazonge.moved {
  background: #fff0b3;
  color: #172b4d;
}

.lazonge.removed {
  background: #ffebe6;
  color: #bf2600;
}

input[type="text"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="month"],
input[type="week"],
input[type="file"],
textarea,
select {
  width: 100%;
  font-size: 16px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  max-width: 100%;
  border-radius: 3px !important;
  transition: all 0.15s ease-in-out, all 0.15s ease-in-out;
  background-color: var(--neutral1);
  border: 1px solid var(--neutral4);
  box-shadow: none;
}

textarea.form-control {
  background-color: var(--neutral1);
  border: 1px solid var(--neutral4);
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="color"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="range"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="month"]:disabled,
input[type="week"]:disabled,
input[type="file"]:disabled,
textarea:disabled,
select:disabled,
.form-control:disabled {
  background-color: var(--neutral1);
  border: none;
  color: var(--neutral4);
}

textarea:focus,
textarea.form-control:focus {
  border: 2px solid var(--navy5) !important;
}

.form-control.no-border,
.form-control.no-border:focus {
  background-color: transparent;
  border: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="range"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="file"]:focus,
textarea:focus {
  color: #495057;
  box-shadow: none !important;
  border: 2px solid var(--navy5);
  outline: 0 none !important;
}

input[type="text"]:active {
  outline: 0 none;
  border: none;
}

.form-group.required .form-label:after,
.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.form-check-label {
  font-size: 14px;
}
.form-label {
  color: var(--navy8);
  font-size: 14px;
}

.form-label.neutral {
  color: var(--neutral70);
  font-size: 14px;
}

.error {
  padding-top: 5px;
  color: red;
}

textarea {
  padding-top: 16px;
  padding-bottom: 16px;
  height: 150px;
}

input[type="text"].grey,
input[type="password"].grey,
input[type="color"].grey,
input[type="date"].grey,
input[type="datetime"].grey,
input[type="datetime-local"].grey,
input[type="email"].grey,
input[type="number"].grey,
input[type="range"].grey,
input[type="search"].grey,
input[type="tel"].grey,
input[type="time"].grey,
input[type="url"].grey,
input[type="month"].grey,
input[type="week"].grey,
input[type="fille"].grey,
textarea.grey,
select.grey {
  background-color: var(--neutral1);
  height: 36px;
}

input::file-selector-button {
  height: 40px !important;
  color: var(--neutral7) !important;
  background: var(--neutral1) !important;
}

input:active::file-selector-button {
  background: var(--navy3) !important;
}

input:hover::file-selector-button {
  background: var(--neutral3) !important;
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: var(--neutral6);
}

:-ms-input-placeholder {
  color: var(--neutral6);
}

::placeholder {
  color: var(--neutral6);
}

.gallery-image {
  height: 140px;
  width: 100%;
  object-fit: cover;
}

.gallery-image-certi {
  height: 90px;
  width: auto;
  object-fit: contain;
}

.image-table {
  width: 100px;
  height: 40px;
  object-fit: cover;
}

.placeholder_banner {
  height: 60px;
}

.vc-purple {
  --vc-accent-50: #eaebf4 !important;
  --vc-accent-100: #c9cce4 !important;
  --vc-accent-200: #a7abd2 !important;
  --vc-accent-300: #6d70b2 !important;
  --vc-accent-400: #6d70b2 !important;
  --vc-accent-500: #5657a5 !important;
  --vc-accent-600: #504f9b !important;
  --vc-accent-700: #47458f !important;
  --vc-accent-800: #3f3b83 !important;
  --vc-accent-900: #332a6c !important;
}

.vc-container {
  --purple-100: var(--navy1) !important;
  --purple-200: var(--navy1) !important;
  --purple-300: var(--navy9) !important;
  --purple-400: var(--navy9) !important;
  --purple-500: var(--navy9) !important;
  --purple-600: var(--navy9) !important;
  --purple-700: var(--navy9) !important;
  --purple-800: var(--navy9) !important;
  --purple-900: var(--navy9) !important;
  border-radius: 5px !important;
  border: none !important;
}

a {
  color: var(--neutral60);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  text-decoration: none !important;
  font-size: 14px;
}

a:hover {
  text-decoration: none !important;
  outline: 0;
  color: var(--navy3);
}


.card {
  padding: 20px;
  border: none;
  box-shadow: 0px 2px 2px rgba(9, 30, 66, 0.25), 0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 5px;
  transition: all 0.2s ease;
  background-color: var(--neutral1);
}

.box {
  /* width: 100%; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}

.box.center {
  /* width: 100%; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.card-profile-percent {
  border: dashed 0.1rem var(--purple9);
  background: var(--orange05);
  padding: 21px 52px;
  border-radius: 20px;
}

.card.no-shadow {
  box-shadow: none;
}

.card.white {
  background-color: var(--white);
}

.card.all-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card.grey-flat {
  box-shadow: none;
  background: var(--neutral2);
}

.card.search {
  border: 1px solid var(--neutral3);
  box-shadow: none;
  /* height: 34px; */
}

.card.search .form-control {
  height: 34px;
}

.card.search .form-control {
  height: 32px;
  font-size: 14px;
}

.card.static {
  /* overflow: hidden; */
  position: relative;
  padding: 0;
  height: 524px;
  border-radius: 10px;
}

.card.static-alternate {
  /* overflow: hidden; */
  position: relative;
  padding: 0;
  height: 500px;
  border-radius: 10px;
}

.card.join {
  overflow: hidden;
  position: relative;
  padding: 24px;
  width: 400px;
}

.card-body {
  margin: 24px;
  padding: 0;
}


.card-img-top {
  height: 240px !important;
  object-fit: cover !important;
  transition: all 0.2s ease;
  /* border-radius: 10px 10px 0 0; */
}

.wa-contact {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: var(--wa-color);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 10;
  transition: all 0.2s ease;
}

.wa-contact:hover {
  position: fixed;
  width: 65px;
  height: 65px;
  bottom: 40px;
  right: 40px;
  background-color: var(--pink3);
  color: #fff;
}

.btn.btn-primary.disable,
.btn.btn-primary.disable:hover,
.btn.btn-primary.disable:active,
.btn.disable,
.btn.disable:hover,
.btn.disable:active {
  color: var(--neutral9) !important;
  background: var(--neutral3) !important;
}

.image-detail-event {
  height: 555px;
  width: 100%;
  object-fit: contain;
  object-position: top;
}

.image-register-event {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.atcb-button-wrapper,
.atcb-button {
  padding: 100px !important;
}

a.btn {
  text-decoration: none;
}

.btn {
  font-size: 14px;
  color: var(--neutral50);
  background: var(--neutral2);
  padding: 6px 12px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: normal;
  transition: all 0.2s ease-in-out !important;
  border: none;
  text-decoration: none !important;
}

.btn.active {
  background: var(--pink3);
  color: var(--white);
  border: none;
}

.btn.disable {
  background: var(--neutral6);
  color: var(--white);
  cursor: not-allowed;
  pointer-events: all !important;
}

.btn:hover {
  background: var(--neutral3);
}

.btn:active {
  background: var(--neutral70) !important;
  color: var(--neutral0) !important;
}

.btn.active {
  background: var(--navy8) !important;
  color: var(--neutral0) !important;
}

.btn.btn-primary {
  color: var(--white);
  background: var(--pink3);
  text-decoration: none !important;
}

.btn.btn-primary:hover {
  background: var(--purple3);
}

.btn.btn-primary:active {
  background: var(--neutral7) !important;
}

.btn.btn-danger {
  color: var(--white);
  background: var(--red9);
  text-decoration: none !important;
}

.btn.btn-danger:hover {
  background: var(--red8);
}

.btn.btn-danger:active {
  background: var(--red10) !important;
}

.object-contain {
  object-fit: contain !important;
}

.image-ads {
  width: 100px;
  width: 100px;
}

.ads-container {
  height: 150px;
  width: 200px;
}

.bg-purple8 {
  background-color: var(--purple8);
}

.bg-navy8 {
  background-color: var(--navy8);
}

.avatar-xxl {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--neutral3);
  background: var(--orange8);
  position: relative;
  color: var(--neutral0);
}

.avatar-xl {
  height: 128px;
  width: 128px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--neutral3);
  background: var(--orange8);
  position: relative;
  color: var(--neutral0);
}

.avatar-ll {
  height: 96px;
  width: 96px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--neutral3);
  background: var(--orange8);
  position: relative;
  color: var(--neutral0);
}

.avatar-l {
  height: 56px;
  width: 56px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--neutral3);
  background: var(--orange8);
  position: relative;
  color: var(--neutral0);
}

.avatar-m {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--neutral3);
  background: var(--orange8);
  position: relative;
  color: var(--neutral0);
}

.avatar-s {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--neutral3);
  background: var(--orange8);
  position: relative;
  color: var(--neutral0);
}

.avatar-xs {
  height: 16px;
  width: 16px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--neutral3);
  background: var(--orange8);
  position: relative;
  color: var(--neutral0);
}

.avatar-xxl.square,
.avatar-xl.square,
.avatar-ll.square,
.avatar-l.square,
.avatar-m.square,
.avatar-s.square,
.avatar-xs.square {
  border-radius: 3px;
}

input[type="checkbox"],
input[type="radio"] {
  border: 2px solid var(--neutral3);
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: var(--navy6);
  border: 0px solid var(--white);
}

.modal-footer,
.modal-header {
  border: none;
}

.modal-dialog-scrollable .modal-footer {
  border-top: 2px solid var(--neutral2);
}

.modal-dialog-scrollable .modal-header {
  border-bottom: 2px solid var(--neutral2);
}

.header-logo {
  width: 190px;
  height: 90px;
  object-fit: contain;
}

.custom-input-group .form-control.left {
  padding-left: 50px;
}

.custom-input-group .form-control.right {
  padding-right: 50px;
}

.prefix {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  margin-left: 1px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.suffix {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 5px;
  margin-right: 1px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prefix p,
.suffix p {
  font-weight: normal;
}

.product-label {
  margin: 0;
  color: var(--navy8);
  background: var(--neutral2);
  padding: 0 4px;
  text-decoration: underline;
}

.l-navbar {
  background-color: var(--neutral1);
  padding: 80px 8px 0 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  transition: all 0.2s ease;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 1px;
}

.l-navbar-content {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 87px;
}

.l-navbar-image {
  height: 40px;
  width: 40px;
  position: relative;
}

.show {
  left: 0;
}

.side-link {
  font-size: 14px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  text-align: left;
  padding: 8px 16px;
  margin: 8px 0;
  display: block;
  width: 100%;
  border: none;
  transition: all 0.1s ease;
  border-radius: 3px;
  color: var(--navy8);
}

.side-link.sign-out {
  color: var(--red1);
}

.side-link:hover {
  background-color: var(--neutral2);
  color: var(--navy8);
}

.side-link.side-active {
  color: var(--orange7);
  background-color: var(--navy05);
}

.side-link .icon-dash {
  margin: 0 16px 0 0;
}

.side-link .icon-dash img {
  height: 24px;
  width: 24px;
  filter: invert(15%) sepia(83%) saturate(1572%) hue-rotate(228deg) brightness(99%) contrast(82%);
}

.side-link.sign-out .icon-dash img {
  filter: invert(18%) sepia(41%) saturate(5570%) hue-rotate(11deg) brightness(104%) contrast(110%);
}

.side-link.sign-out:hover .icon-dash img {
  filter: invert(15%) sepia(83%) saturate(1572%) hue-rotate(228deg) brightness(99%) contrast(82%);
}

.side-link.side-active .icon-dash img {
  filter: invert(62%) sepia(18%) saturate(5502%) hue-rotate(351deg) brightness(91%) contrast(98%);
}

.side-link-profile {
  display: inline-flex;
  align-items: center;
  text-align: left;
  padding: 8px;
  display: block;
  width: 100%;
  border: none;
  transition: all 0.2s ease;
  background-size: 200% 100%;
}

.side-link-profile.sign-out {
  color: var(--pink7);
}

.side-link-profile:hover {
  color: var(--pink3);
  text-decoration: underline;
}

.side-link-profile .icon-dash {
  margin: 0 16px 0 0;
}

.side-link-profile .icon-dash img {
  height: 16px;
  width: 16px;
  /* transition: all 0.2s ease; */
  filter: invert(15%) sepia(83%) saturate(1572%) hue-rotate(228deg) brightness(99%) contrast(82%);
}

.hero {
  margin: 56px 0 0 0 !important;
  width: 100vw;
  height: 445px;

  position: relative;
}

.hero-banner {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
}

.hero .title {
  padding: 0;
  margin: 0;
  font-weight: normal;
  position: relative;
  font-size: 52px;
  color: white;
  font-family: var(--barlow-family);
}

#hero .title span {
  color: var(--orange7);
}

.hero-arsy {
  height: 400px;
  width: auto;
}

.hero .sub-txt {
  position: relative;
  font-size: 50px;
  font-weight: bold;
}

#promo {
  width: 100vw;
  padding: 56px 0;
  background-color: var(--neutral0);
}

.promo-slider {
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

.swiper {
  z-index: 0 !important;
  padding-bottom: 24px !important;
}

.swiper-pagination-bullet-active {
  background: var(--navy) !important;
}

.swiper-pagination-bullet {
  background: var(--navy5) !important;
}

#course {
  padding: 56px 0;
}

#method {
  padding: 56px 0;
}

#method .header-logo {
  height: 56px;
  width: 122px;
  object-fit: contain;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 230px;
  padding: 15px 0;
  background-color: var(--pink4);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top right*/
.ribbon-top-right {
  top: -2px;
  right: -2px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

#traits {
  background-color: var(--navy05);
  padding: 56px 0;
}

#join {
  padding: 56px 0;
  background-color: var(--navy9);
}

#partner {
  padding: 56px 0;
  background-color: var(--navy05);
}

#partner img {
  height: 120px;
  width: auto;
  object-fit: contain !important;
  object-position: center center !important;
}

.partner-img {
  height: 120px;
  width: auto;
  object-fit: contain !important;
  object-position: center center !important;
}

#trainer {
  padding: 56px 0;
}

.nav-tabs {
  border-bottom: 2px solid var(--neutral3);
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.nav-tabs .nav-link {
  white-space: nowrap;
  border: none;
  color: var(--navy2) !important;
  font-weight: 500 !important;
  padding: 8px 16px 8px 8px;
  text-decoration: none;
}

.nav-tabs .nav-link.active {
  white-space: nowrap;
  border: none;
  color: var(--pink3) !important;
  background: transparent;
  padding: 8px 16px 8px 8px;
}

.nav-tabs .nav-link:hover.nav-link::after {
  opacity: 1;
}

.nav-tabs .nav-link::after {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 90%;
  height: 5px;
  content: "";
  border-radius: 10px 10px 0px 0px;
  background-color: var(--pink3);
  opacity: 0;
  transition: all 200ms linear;
}

.nav-tabs .nav-link.active:after {
  opacity: 1;
}

.filter-card {
  position: -webkit-sticky;
  position: sticky;
  top: 86px;
  height: min-content;
  z-index: 1;
}

.filter-background {
  background: var(--neutral1);
  border-radius: 3px;
}

.divider {
  text-align: center;
  color: #f2f2f2;
  width: 100%;
  height: 4px;
  background-color: var(--neutral10);
  opacity: 0.2;
  border-radius: 4px;
}

.divider {
  text-align: center;
  color: var(--neutral10);
  width: 100%;
  height: 1px;
  background-color: var(--neutral10) !important;
  border-radius: 1px;
}

.page {
  padding: 57px 0;
}

.value-img {
  height: 84px;
  width: 84px;
}

.value-img.white {
  filter: brightness(0) invert(1);
}

#prodis {
  padding: 100px 0;
}

#register {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, var(--navy9), var(--navy));
  /* padding-top: 56px; */
}

#register::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  /* background-image: url(../images/login/login-bg.png); */
  z-index: 0;
}

#register .title {
  padding: 0;
  margin: 0;
  font-weight: normal;
  position: relative;

  color: white;
}

#register .title span {
  color: var(--orange7);
}

#register .login-img {
  position: relative;
  width: 400px;
  height: 400px;
  object-fit: contain;
}

#insight-detail {
  position: relative;
  padding: 56px 0;
  width: 100vw;
}

.insight-background {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#insight-detail .container.detail-content {
  margin-top: -400px;
}

.insight-content {
  position: relative;
  padding: 57px 0;
}

.gradient-purple-text {
  background: -webkit-linear-gradient(var(--pink7), var(--orange7));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-green-text {
  background: -webkit-linear-gradient(300deg, var(--green2), var(--green5));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.remove-gradient {
  background: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: black;
}

.doughnut-title {
  position: absolute;
  width: 50%;
  margin-left: auto;
  text-align: center;
  top: 22%;
}

.collapse-toggle[data-bs-toggle="collapse"][aria-expanded="false"] .fa-chevron-right {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.collapse-toggle[data-bs-toggle="collapse"][aria-expanded="false"] .fa-plus {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.collapse-toggle[data-bs-toggle="collapse"][aria-expanded="true"] .fa-chevron-right {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}

.collapse-toggle[data-bs-toggle="collapse"][aria-expanded="true"] .fa-plus {
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.border-circle-navy {
  border-radius: 50%;
  border: 1px solid var(--navy9);
}

.content-dashboard {
  margin-top: -75px;
}

.dashboard-header {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.rating {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: 100%;
}

.rating-item {
  text-align: center;
  width: calc(100% / 5) !important;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  cursor: pointer;
  font-size: 2rem;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.rating label:hover,
.rating input[type="radio"]:checked + label {
  transform: scale(1.05);
  filter: none;
}

.navy3-text {
  color: var(--navy3);
}

.neutral4-text {
  color: var(--neutral4);
}

.navy-text {
  color: var(--navy9);
}

.neutral7-text {
  color: var(--neutral40);
}

.container-certificate {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.container-certificate iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.vue-picker {
  width: 100%;
  font-size: 16px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  max-width: 100%;
  border-radius: 3px !important;
  transition: all 0.15s ease-in-out, all 0.15s ease-in-out;
  background-color: var(--neutral1);
  border: 1px solid var(--neutral4);
  box-shadow: none;
}

.vue-picker_disabled {
  --col-border: var(--neutral5);
}

.vue-picker__opener {
  width: 100%;
  padding: 0 !important;
  vertical-align: middle;
  max-width: 100%;
  border-radius: 3px !important;
  transition: all 0.15s ease-in-out, all 0.15s ease-in-out;
  background-color: var(--neutral1);
  border: none !important;
  box-shadow: none !important;
}

.vue-picker__dropdown {
  background: var(--white) !important;
  border: none !important;

  border-radius: 3px !important;
  top: 110% !important;
  border: 1px solid var(--neutral4) !important;
  padding: 0 !important;
}

.vue-picker-option {
  display: block;
  text-align: start;
  width: 100%;
  background: none;
  border: none;
  padding: 8px;
}

.vue-picker-option:hover:not(:disabled) {
  background-color: var(--neutral2) !important;
}

#all-course {
  padding: 100px 0;
}

#all-course .contact {
  margin: 48px 0;
  background-color: var(--navy9);
  width: 100vw;
  padding: 24px 0;
}

#testimony {
  padding: 56px 0;
}

.testi-company-logo {
  height: 24px;
}

#testimony .card {
  background-color: var(--white);
}

#community {
  padding: 100px 0;
}

.wa-color {
  color: var(--wa-color);
}

.red-color {
  color: var(--red) !important;
}

.card-header-grey {
  border-radius: 5px 5px 0 0;
  background: var(--neutral1);
  padding: 16px 16px;
}

.card-body-list {
  padding: 8px 16px;
}

.card-body-list {
  border-top: 1px solid var(--neutral3);
}

.vue-truncate-html-example__container {
  color: var(--neutral);
  font-size: 14px !important;
}

.vue-truncate-html-example__container.navy3-text p {
  color: var(--navy3) !important;
  font-size: 14px !important;
}

.vue-truncate-html-example__container.navy3-text p a {
  color: var(--orange7) !important;
  font-size: 14px !important;
}

.vue-truncate-html-example__container.navy3-text p a:hover {
  color: var(--navy) !important;
  font-size: 14px !important;
}

.vue-truncate-html-example__container button {
  color: var(--pink3) !important;
  font-size: 14px !important;
}

.vue-truncate-html-example__container.default p {
  font-size: 14px !important;
  color: var(--neutral90) !important;
}

.vue-truncate-html-example__container.default a {
  font-size: 14px !important;
  color: var(--orange7);
}

.vue-truncate-html-example__container.default a:hover {
  color: var(--pink3);
}

.vue-truncate-html-example__container p {
  font-size: 14px !important;
  color: white !important;
}

.vue-truncate-html-example__container a {
  font-size: 14px !important;
  color: var(--pink3) !important;
}

.vue-truncate-html-example__container a:hover {
  color: var(--navy9) !important;
}

#not-found {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, var(--navy9), var(--navy));
  padding: 100px 0;
}

#not-found::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  /* background-image: url(../images/login/login-bg.png); */
  z-index: 0;
}

.img-congrats {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.modal-congrats {
  width: 40% !important;
}

.icon-close {
  height: 30px;
  width: 30px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.icon-event {
  height: 24px;
  width: 24px;
}

.img-cover {
  object-fit: cover;
}

.truncate {
  -webkit-line-clamp: var(--max-lines);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.customize-table-new {
  position: relative !important;
  z-index: 0 !important;
  border-radius: 0 0 16px 16px;
  /* --easy-table-border: 1px solid #445269;
  --easy-table-row-border: 1px solid #445269; */
  --easy-table-border: none;

  --easy-table-header-font-size: 14px;
  --easy-table-header-font-color: #6b778c;
  /* --easy-table-header-height: 50px; */
  /* --easy-table-header-font-color: #c1cad4;
  --easy-table-header-background-color: #2d3a4f; */
  --easy-table-header-background-color: transparent;

  --easy-table-header-item-padding: 10px 15px;

  /* --easy-table-body-even-row-font-color: #fff;
  --easy-table-body-even-row-background-color: #4c5d7a; */

  /* --easy-table-body-row-font-color: #c0c7d2;
  --easy-table-body-row-background-color: #2d3a4f; */
  --easy-table-body-row-height: 50px;
  --easy-table-body-row-font-size: 14px;

  /* --easy-table-body-row-hover-font-color: #2d3a4f;*/
  --easy-table-body-row-hover-background-color: transparent;

  --easy-table-body-item-padding: 8px 16px;
}

.ql-container {
  border-radius: 0 0 8px 8px;
  border: 1px solid var(--neutral2) !important;
}

.ql-toolbar.ql-snow {
  border-radius: 8px 8px 0 0;
  border: 1px solid var(--neutral2) !important;
}

.current-counter[data-v-49af6a0a] {
  font-size: 32px;
  font-family: var(--barlow-family);
  color: var(--pink3);
  font-weight: 500;
}

.current-counter[data-v-49af6a0a]::after {
  content: "%";
}

.table-row-200 {
  min-width: 200px;
  min-height: 36px;
}

.card.profile {
  width: 75%;
}

.card.grey-flat-outline {
  box-shadow: none;
  background: var(--neutral2);
  border: 1px solid var(--purple1);
}

.card.disable {
  position: relative;
  background: var(--neutral2);
  cursor: not-allowed;
}

.img-certi {
  filter: invert(15%) sepia(83%) saturate(1572%) hue-rotate(228deg) brightness(99%) contrast(82%);
}

.card.disable p,
.card.disable h4 {
  color: var(--neutral7);
}

.card.disable img {
  filter: invert(80%) sepia(12%) saturate(274%) hue-rotate(178deg) brightness(86%) contrast(84%);
}

.card.pointer {
  cursor: pointer;
  margin: 0;
  transition: all 0.2s ease;
}

section {
  width: 100vw;
}

.w25 {
  width: 25% !important;
}
.w50 {
  width: 50% !important;
}

.w60 {
  width: 60% !important;
}

.w65 {
  width: 65% !important;
}

.w75 {
  width: 75% !important;
}

.w80 {
  width: 80% !important;
}

.w85 {
  width: 85% !important;
}

.w95 {
  width: 95% !important;
}

.loading-page {
  /* position: absolute; */
  height: 100vh;
  width: 100vw;
  z-index: 100;
  align-items: center;
  display: flex;

  padding: 0 !important;
  margin: 0 !important;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .l-navbar {
    width: 25%;
  }
  .img-product {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
  }
}

@media (max-width: 767.98px) {
  .img-product {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
  }
  .avatar-xxl {
    height: 128px;
    width: 128px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--neutral3);
  }

  .avatar-xl {
    height: 96px;
    width: 96px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--neutral3);
  }

  .avatar-ll {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--neutral3);
  }

  .avatar-l {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--neutral3);
  }

  .avatar-m {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--neutral3);
  }

  .avatar-s {
    height: 16px;
    width: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--neutral3);
  }

  .avatar-xs {
    height: 8px;
    width: 8px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--neutral3);
  }

  .navbar-collapse {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15) !important;
    position: absolute;
    top: 110%;
    width: 100%;
    border-radius: 3px;
    box-shadow: 5px 5px 10px var(--white) 80;
    background: var(--white);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    max-height: calc(100vh - 5px);
    overflow-y: hidden;
  }

  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.2s ease;
    -o-transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
    transition: left 0.2s ease;
    left: 110%;
  }

  .navbar-collapse {
    right: 0;
    -webkit-transition: left 0.2s ease-in;
    -o-transition: left 0.2s ease-in;
    -moz-transition: left 0.2s ease-in;
    transition: left 0.2s ease-in;
  }

  .nav-item:hover .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    width: 100vw;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
    width: fit-content;
  }

  .nav-item:after {
    display: none;
  }

  .footer-title {
    font-weight: normal;
    color: var(--neutral0);
    text-align: center;
  }

  #webinar-hero::before {
    background-size: cover;
  }

  .sidebar-toggler {
    display: block;
  }

  .l-navbar {
    left: -100%;
    width: 80%;
  }

  .show {
    left: 0;
  }

  .w-75 {
    width: 100% !important;
  }

  .w25 {
    width: 100% !important;
  }
  .w50 {
    width: 100% !important;
  }

  .w60 {
    width: 100% !important;
  }

  .w65 {
    width: 100% !important;
  }

  .w75 {
    width: 100% !important;
  }

  .w85 {
    width: 100% !important;
  }

  .w80 {
    width: 100% !important;
  }

  .w95 {
    width: 100% !important;
  }

  .img-product {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
  }
}
