#app {
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--neutral70);
  scroll-behavior: smooth ;
}

:root {
  --barlow-family: "Barlow", sans-serif;
  --righteous-family: "Righteous", sans-serif;

  --orange05: #fdf2e1;
  --orange1: #fadfb3;
  --orange2: #f6ca83;
  --orange3: #f3b452;
  --orange4: #f1a530;
  --orange5: #ef9618;
  --orange6: #eb8915;
  --orange7: #e57c12;
  --orange8: #de6d0f;
  --orange9: #d4550c;

  --purple05: #f3e5f1;
  --purple1: #e3bedc;
  --purple2: #d193c6;
  --purple3: #bd68b0;
  --purple4: #ae499f;
  --purple5: #9e2d90;
  --purple6: #92288a;
  --purple7: #812282;
  --purple8: #731d7a;
  --purple9: #57156a;

  --pink05: #f8e5f3;
  --pink1: #efbfe2;
  --pink2: #e995cf;
  --pink3: #e66bbb;
  --pink4: #e54aa9;
  --pink5: #e82796;
  --pink6: #d5278f;
  --pink7: #be2686;
  --pink8: #a7257e;
  --pink9: #7f2270;

  --neutral: #0a0a0a;
  --neutral0: #ffffff;
  --neutral1: #fafbfc;
  --neutral2: #f4f5f7;
  --neutral3: #ebecf0;
  --neutral4: #dfe1e6;
  --neutral5: #c1c7d0;
  --neutral6: #b3bac5;
  --neutral7: #a5adba;
  --neutral8: #97a0af;
  --neutral9: #8993a4;
  --neutral10: #7a869a;
  --neutral20: #6b778c;
  --neutral30: #5e6c84;
  --neutral40: #505f79;
  --neutral50: #42526e;
  --neutral60: #354764;
  --neutral70: #243757;
  --neutral80: #16294c;
  --neutral90: #091e42;

  --navy: #241d52;
  --navy05: #eaebf4;
  --navy1: #c9cce4;
  --navy2: #a7abd2;
  --navy3: #6d70b2;
  --navy4: #6d70b2;
  --navy5: #5657a5;
  --navy6: #504f9b;
  --navy7: #47458f;
  --navy8: #3f3b83;
  --navy9: #332a6c;

  --white: #ffffff;
  --red: #d40c0c;
  --wa-color: #00b628;

  --green05: #e3fcef;
  --green075: #abf5d1;
  --green1: #79f2c0;
  --green2: #57d9a3;
  --green3: #36b37e;
  --green4: #00875a;
  --green5: #006644;
}

input[type="text"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="month"],
input[type="week"],
input[type="file"],
textarea,
select {
  width: 100%;
  font-size: 16px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  max-width: 100%;
  border-radius: 3px !important;
  transition: all 0.15s ease-in-out, all 0.15s ease-in-out;
  background-color: var(--neutral1);
  border: 1px solid var(--neutral4);
  box-shadow: none;
}

textarea.form-control {
  background-color: var(--neutral1);
  border: 1px solid var(--neutral4);
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="color"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="range"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="month"]:disabled,
input[type="week"]:disabled,
input[type="file"]:disabled,
textarea:disabled,
select:disabled,
.form-control:disabled {
  background-color: var(--neutral1);
  border: none;
  color: var(--neutral4);
}

textarea:focus,
textarea.form-control:focus {
  border: 2px solid var(--navy5) !important;
}

.form-control.no-border,
.form-control.no-border:focus {
  background-color: transparent;
  border: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="range"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="file"]:focus,
textarea:focus {
  color: #495057;
  box-shadow: none !important;
  border: 2px solid var(--navy5);
  outline: 0 none !important;
}

input[type="text"]:active {
  outline: 0 none;
  border: none;
}

.form-group.required .form-label:after,
.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.custom-input-group .form-control.left {
  padding-right: 50px ;
}

.custom-input-group .form-control.right {
  padding-left: 50px ;
}

.prefix {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  margin-left: 1px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.suffix {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 5px;
  margin-right: 1px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prefix p,
.suffix p {
  font-weight: normal;
}

.divider {
  text-align: center;
  /* color: #f2f2f2; */
  width: 100%;
  height: 1px;
  background-color: var(--neutral4);
  border-radius: 1px;
}

p {
  color: var(--neutral90);
  font-size: 14px;
}

.sub {
  color: var(--neutral10);
}

.sub-text {
  font-size: 12px;
}

h1 {
  font-family: var(--barlow-family);
  font-weight: bold;
  font-size: 64px;
  color: var(--navy9) ;
}

h2 {
  font-family: var(--barlow-family);
  font-weight: bold;
  font-size: 56px;
  color: var(--navy9) ;
}

h3 {
  font-family: var(--barlow-family);
  font-weight: bold;
  color: var(--navy9) ;
  font-size: 48px;
}

h4 {
  font-family: var(--barlow-family);
  font-weight: bold;
  color: var(--navy9) ;
  font-size: 36px;
}

h5 {
  /* font-family: var(--barlow-family); */
  font-weight: bold;
  color: var(--navy9) ;
  font-size: 24px;
}

h6 {
  /* font-family: var(--barlow-family); */
  font-weight: bold;
  color: var(--navy9) ;
  font-size: 18px;
}

a {
  color: var(--navy9);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  text-decoration: none;
  font-size: 14px;
}

button{
  font-size: 14px;
}

a:hover {
  color: var(--navy) !important;
}

.btn.btn-primary.disable,
.btn.btn-primary.disable:hover,
.btn.btn-primary.disable:active,
.btn.disable,
.btn.disable:hover,
.btn.disable:active {
  color: var(--neutral9) ;
  background: var(--neutral3) ;
  cursor: not-allowed;
}
.text-decoration-none {
  text-decoration: none ;
}
.text-decoration-none:hover {
  text-decoration: underline ;
}

.btn {
  border: 1px solid var(--navy5) ;
  font-size: 14px ;
  color: var(--neutral50);
  padding: 6px 12px;
  -webkit-border-radius: 3px ;
  border-radius: 3px ;
  font-weight: normal;
  transition: all 0.2s ease-in-out ;
  text-decoration: none !important;
}

.btn:hover {
  background: var(--neutral3) ;
  text-decoration: none !important;

}

.btn:active {
  border: 1px solid var(--neutral70);
  background: var(--neutral70) ;
  color: var(--neutral0) ;
}

.btn.active {
  border: 1px solid var(--navy8);
  background: var(--navy8) ;
  color: var(--neutral0) ;
}

.btn.btn-primary {
  border: 1px solid var(--navy5);
  color: var(--white);
  background: var(--navy5);
}
.btn.btn-primary:hover {
  border: 1px solid var(--navy) !important;
  background: var(--navy) !important;
}
.btn.btn-primary:active {
  border: 1px solid var(--neutral7);
  background: var(--neutral7);
}

.btn.btn-danger{
  border: 1px solid var(--red) !important;
  color: var(--red) !important;
  background: none;
}

.btn-settings{
  padding: 12px 0 12px 16px;
  border-bottom: 1px solid var(--neutral10);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-settings:hover{
  color: var(--green3) !important;
  border-bottom: 1px solid var(--green3);
}

.avatar-xl {
  height: 128px;
  width: 128px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--neutral3);
}
.avatar-l {
  height: 96px;
  width: 96px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--neutral3);
}
.avatar-m {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--neutral3);
}
.avatar-s {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--neutral3);
}
.avatar-xs {
  height: 16px;
  width: 16px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--neutral3);
}

.avatar-xl.square,
.avatar-l.square,
.avatar-m.square,
.avatar-s.square,
.avatar-xs.square {
  border-radius: 3px;
}

.bnb {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 56px;
  /* padding: 0 16px; */
  background: var(--neutral1);
  -webkit-box-shadow: 0px -2px 3px rgba(175, 175, 175, 0.75);
  -moz-box-shadow: 0px -2px 3px rgba(175, 175, 175, 0.75);
  box-shadow: 0px -2px 3px rgba(175, 175, 175, 0.75);
}

.content {
  position: relative;
  padding: 67px 0 77px 0;
}

.bnb-menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}

.bnb a {
  width: calc(100vw / 4);
  text-decoration: none;
  color: var(--navy3) !important;
}
.bnb a:hover {
  color: var(--navy) !important;
}

.label-bnb {
  font-size: 10px;
  margin: 0;
}

.navbar {
  height: 46px;
  margin: 0;
  border-bottom: 1px lightgray solid;
  position: fixed;
  top: 0;
}

.dropdown-item {
  font-size: 14px;
}

.card {
  padding: 20px;
  border: none ;
  box-shadow: 0px 2px 2px rgba(9, 30, 66, 0.25), 0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 5px;
  transition: all 0.2s ease;
  background-color: var(--neutral1);
}

.card-img-top{
  height: 200px;
  object-fit: cover;
}

.modal-footer,
.modal-header {
  border: none;
}
.modal-dialog-scrollable .modal-footer {
  border-top: 2px solid var(--neutral2);
}
.modal-dialog-scrollable .modal-header {
  border-bottom: 2px solid var(--neutral2);
}

.header-logo {
  width: 190px;
  height: 90px;
  object-fit: contain;
}

#login {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, var(--navy9), var(--navy));
}

.cart-content {
  max-height: 58vh;
}

.summary {
  background: var(--neutral1);
  width: 100vw;
  position: absolute;
  bottom: 0;
  padding-bottom: 56px;
}

.search-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 57px;
}

.breadcrumb{
  font-size: 14px;
}
.breadcrumb .breadcrumb-item{
  font-weight: 600;
}
.breadcrumb .breadcrumb-item.active{
  font-weight: normal;
}

[data-bs-toggle="collapse"][aria-expanded="false"] .fa-chevron-right {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
[data-bs-toggle="collapse"][aria-expanded="true"] .fa-chevron-right {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}

.img-product{
  width: 200px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.multiselect input[type="text"] {
  background: transparent !important;
  margin: 0;
  height: auto;
  border: none;
  box-shadow: none;
}

.multiselect-tags input[type="text"] {
  padding: 0 !important;
  background: transparent !important;
  margin: 0;
  height: auto;
  border: none;
  box-shadow: none;
}

.multiselect input[type="text"]:focus {
  background: transparent !important;
  margin: 0;
  height: auto;
  border: none;
  box-shadow: none;
}

.multiselect {
  border-radius: 3px !important;
  min-height: 40px;
  background: var(--neutral1) !important;
  border: 1px solid var(--neutral4) !important;
}

.multiselect-option.is-selected {
  background-color: var(--navy8) !important;
  color: var(--neutral0) !important;
}

.multiselect-option.is-selected p {
  color: var(--neutral0);
}

.multiselect-tag {
  background-color: var(--navy8) !important;
}

.multiselect-dropdown {
  border-radius: 5px !important;
}

.multiselect-placeholder {
  color: var(--neutral6) !important;
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: var(--neutral6) !important;
}

:-ms-input-placeholder {
  color: var(--neutral6) !important;
}

::placeholder {
  color: var(--neutral6) !important;
}

@media (max-width: 767.98px) {
  .img-product{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .img-product{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
  }
}